.u-section-1 {
  background-image: linear-gradient(white, #d9d9d9);
}

.u-section-1 .u-sheet-1 {
  min-height: 658px;
}

.u-section-1 .u-form-1 {
  height: 183px;
  width: 569px;
  margin: 166px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}