.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-table-1 {
  margin-top: 26px;
  margin-bottom: 60px;
}

.u-block-066b-46 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-block-066b-35 {
  background-image: none;
}

.u-block-066b-50 {
  height: 46px;
}